/* https://codepen.io/DuskoStamenic/pen/ZEvBKdw */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";

:root {
  --color: #03132b;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;

  background-image: url(../PICS/wp.jpg);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;

  text-shadow: 0px 0px 10px #fcedd6;
  -webkit-text-stroke: #fcedd6 1px;

  text-align: center;
}

.buffer {
  width: 100%;
  min-height: 10vh;
  background-color: var(--color);
}

.buffer:nth-of-type(2) {
  width: 100%;
  min-height: 30vh;
  background-color: var(--color);
}

.parallax-container2 {
  flex-direction: row;
  flex-wrap: wrap;

  padding: 6rem 0;
  background-image: url(../PICS/wp2.jpg);
  gap: 1.6em;
}

h1 {
  font-size: 10rem;
  font-weight: 700;
  -webkit-text-stroke: #fcedd6 2px;
}

p {
  max-width: 52ch;
  padding: 1em;
  line-height: 1.5;
}

a {
  display: inline-block;
  padding: 1em 3.5em;
  border-radius: 0.3em;
  background-color: var(--color);
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

h3 {
  margin-top: 1em;
  font-size: 1.6rem;
  font-weight: 700;
}

.card {
  display: flex;
  max-width: 320px;
  flex-direction: column;
  align-items: center;

  padding-bottom: 1rem;
  border-radius: 0.5em;

  background-color: white;
  box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
}

.card-img {
  width: 100%;
  height: 200px;
  border-radius: 0.3em;
  background-position: center;
  background-size: cover;
}

.card:nth-of-type(1) .card-img {
  background-image: url(https://merehead.com/blog/wp-content/uploads/philip-oroni-k9io9BWQTpk-unsplash.jpg);
}

.card:nth-of-type(2) .card-img {
  background-image: url(../PICS/matrix.jpg);
}

.card:nth-of-type(3) .card-img {
  background-image: url(https://blog.acelerato.com/wp-content/uploads/2016/03/sac.jpg);
}

.card:nth-of-type(4) .card-img {
  background-image: url(https://adobe.design/stories/community/media_1de24d3fef332bbbfaa265e2b7bda330385116ac4.jpeg?width=750&format=jpeg&optimize=medium);
}