/* https://codepen.io/DuskoStamenic/pen/ZEvBKdw */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

:root {
  --color: rgb(63, 63, 63);
}

body {
  margin: 0;
  font-family: PT Mono, sans-serif;
}

.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-attachment: fixed;

  background-image: url(../PICS/matrix.jpg);
  background-position: center;
  background-size: cover;
  color: rgb(20, 255, 100);
  row-gap: 4rem;

  text-align: center;
}

.buffer {
  width: 100%;
  min-height: 60vh;
  background-color: rgb(63,63,63);
}

.parallax-container2 {
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--color);
  padding: 6rem 0;
  background-image: url(https://adobe.design/stories/community/media_1de24d3fef332bbbfaa265e2b7bda330385116ac4.jpeg?width=750&format=jpeg&optimize=medium);
  gap: 1.6em;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

p {
  max-width: 52ch;
  padding: 1em;
  line-height: 1.5;
}

a {
  display: inline-block;
  padding: 1em 3.5em;
  border-radius: 0.3em;
  background-color: var(--color);
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

h3 {
  margin-top: 1em;
  font-size: 1.6rem;
  font-weight: 700;
}

.card {
  display: flex;
  max-width: 320px;
  flex-direction: column;
  align-items: center;

  padding-bottom: 1rem;
  border-radius: 0.5em;

  background-color: white;
  box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
}

.card-img {
  width: 100%;
  height: 200px;
  border-radius: 0.3em;
  background-position: center;
  background-size: cover;
}

.card:nth-of-type(1) .card-img {
  background-image: url(../PICS/pedro.jpg);
}

.card:nth-of-type(2) .card-img {
background-image: url(../PICS/leander.jpg);
}
  
.card:nth-of-type(3) .card-img {
background-image: url(../PICS/joao.jpg);
}
  
.card:nth-of-type(4) .card-img {
background-image: url(../PICS/icaro.jpg);
}

.card:nth-of-type(5) .card-img {
background-image: url(../PICS/victor.jpg);
}

.card:nth-of-type(6) .card-img {
background-image: url(https://media.licdn.com/dms/image/C4E03AQHztk8CZJ_sBQ/profile-displayphoto-shrink_800_800/0/1520265897307?e=2147483647&v=beta&t=Q-PjshZODadB7YTjCia03U8W3wCJo8jdsmq6jGXzl8E);
}

.card:nth-of-type(7) .card-img {
background-image: url(../PICS/gabriela.jpg);
}